#s1 
{
float:left;
width:130px;
height:90px;
margin:0 0 80px 80px;
}

#s2 
{
float:left;
width:130px;
height:90px;
margin:0 0 80px 80px;
}

#s3
{
float:left;
width:130px;
height:90px;
margin:0 0 80px 80px;
}

#s4
{
float:left;
width:130px;
height:90px;
margin:0 0 80px 80px;
}

#s5 
{
float:left;
width:130px;
height:90px;
margin:0 0 80px 80px;
}

#s6
{
float:left;
width:130px;
height:90px;
margin:0 0 80px 80px;
}


