<?xml version="1.0"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add invariant="System.Data.SqlServerCe.4.0" name="Microsoft® SQL Server® Compact 4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add connectionString="data source=tcp:pf9xx4rmq4.database.windows.net,1433;initial catalog=meeting123779;user id=harsha@pf9xx4rmq4;password=khv9440385189" name="computer_sc_and_engg" providerName="System.Data.SqlClient" />
    <add connectionString="data source=tcp:pf9xx4rmq4.database.windows.net,1433;initial catalog=meeting123779;user id=harsha@pf9xx4rmq4;password=khv9440385189" name="harsha" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
</configuration>